*{
margin:0 ;
padding:0;
font-family: 'poppins',sans-serif;
}
html,body{
    display:grid;
    height: 100%;
    place-items: centre;
    background: #000;
}
.wrapper .display,
.wrapper span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
.wrapper{
    height: 100px; 
    width: 370px;
    cursor: default;
    background:linear linear-gradient(140deg,#14ffe9,#ffeb3b,#ff00e0);

    border-radius:12px ;
    animation: animate 1.5s linear infinite;
}
.wrapper .display{
    position: absolute;
    /* opacity: 0; */
    top: 60%;
    left: 60%;
    transform: translate(-20%,-20%);
    z-index: 1000;
    background:#1b1b1b;
    height: 90px;
    width: 360px;
    border-radius: 7px;
    text-align: center;

}
.wrapper .display #time{
line-height: 90px;
color: #fff;
font-size: 60px;
font-weight: 700;
background: linear-gradient(140deg,#14ffe9,#ffeb3b,#ff00e0);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
animation: animate 1.5s linear infinite;
}
@keyframes animate{
    100%{
        filter: hue-rotate(350deg);
    }
}
.wrapper{
    height: 100%;
    width: 100%;
    background: inherit;
    border-radius: 15px;
}
.wrapper span:last-child{
    filter: blur(20px);#ff00e0);